.landing {
  /* background: url(https://images.pexels.com/photos/731022/pexels-photo-731022.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat center center fixed; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* margin: auto 0px; */


}

.welcome-container {
padding: 2px 16px;
}

.feature-section {
  display: flex;
  justify-content: center;





}


.landing-btn{
  border: 5px, solid, white;
  color: white;
}



