.home-page-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 50px;
}

.divider {
  /* background-image: url(); */
  height: 120px;
  background-color:lightgray;

  background-size: cover;
  margin-bottom: 20px;
}


.dashboard{
  padding: 20px;
  margin: auto 0px;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  align-content: center;

}

.dashboard-title {
  font-size: 30px;
  color: rgb(95, 95, 95);
  padding: 5px;
  text-align: center;



}

.add-new-profile-btn {
  text-decoration: none;
  color:  rgb(122, 72, 72);


}
/* section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
} */

/* section:nth-child(even) {
  background-color: #ddd;
} */


.pet-profile-list {
  background-color: lightgray;
  min-height: 800px;
  max-width: 800px;
  padding: 20px;
  margin: auto;

}

.pet-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 5px;
  padding-top: 10px;
}


.add-new-profile{
  /* text-align: right; */
}

