.home-page-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 50px;
}

.divider {
  background-image: url(../../imgs/divider-img.jpeg);
  height: 130px;
  margin-top: 45px;
  background-size: cover;
  margin-bottom: 20px;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
 
}


.dashboard{
  padding: 20px;
  margin: auto 0px;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  align-content: center;

}

.dashboard-title {
  font-size: 30px;
  color: rgb(22, 21, 21);
  padding: 5px;
  text-align: center;



}

.add-new-profile-btn {
  text-decoration: none;
  color:  rgb(122, 72, 72);


}

.pet-profile-list {
  background-color: rgb(1, 37, 10);
  background-color: lightgray;
  min-height: 800px;
  max-width: 800px;
  padding: 10px;
  margin: auto;
  border-top:  rgb(122, 72, 72) solid 15px;


}

.pet-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 5px;
  padding-top: 10px;
}


.add-new-profile{
  /* text-align: right; */
}

