.pet-profile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 150px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    background-color: white;
    
  }

.container {
    padding: 2px 16px;
  }

  .pet-profile-nav {
    list-style: none;
    text-align: center;
    }

.card-title {
  font-size: 30px;
  margin: 5px;
}