* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(95, 95, 95);
  min-height: 100vh;
  margin-top:80px

}

main {
  margin: auto;
  text-align: center;
  max-width: 800px;
  background: #fff;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 5px 55px 50px -20px #b6b6b6; 
}


button {
  font-size: 12px;
  border: rgb(122, 72, 72) 1.5px solid;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  color: rgb(95, 95, 95);


}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  Padding: 20px; 
  color: rgb(95, 95, 95);
  border: rgb(122, 72, 72) 1px solid;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

input[type="text"], [type="password"], [type="email"], textarea, select {
  width: 85%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0px;
  display: inline-block;

}

form button {
  align-content: center;
  text-align: center;
}
.link-btn {
  text-decoration: none;

}

fieldset {
  border: 0;
}

.form-error {
  color: red;
  font-size:10px;
}


.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-top: 10px;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12, .idea-summary-note {
  width: 100%;
  margin-bottom: 5px;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.333333%;
  }

  .col-6 {
    width: 50%;
  }

  .col-12 {
    width: 100%;
  }
}