.registration-form {
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
  width: 500px;
}

.registeration-container {
  /* max-width: 500px;  */
  /* display: flex; 
    justify-content: center;
    align-items: center; */
  /* margin-top: 80px; */
}
