ul {
  padding: 0;
  list-style: none;
  justify-content:flex-end
}

.topnav {
  display: flex;
  height: 46px;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
  color: rgba(117,117,117 ,1);
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%;
  background-color: white;
}

.topnav a {
  cursor: pointer;
}

.topnav li:hover {
  color: rgb(208, 219, 221);;
}

a:hover {
  color: rgb(20, 58, 65);;
}

.home {
  margin-right:auto;
}

button:hover {
  background-color: lightgrey;
}



.home {
  margin-right: auto;
}

