/* .login-form {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    max-width: 500px;

} */

.login-container {
    /* display: flex; */
    height: 120px;
    /* justify-content: center;
    align-items: center;
    justify-content: center; */
    margin-top: 80px;

}
